<div class="container">
  <div class="row">
    <div class="card">
        <img class="card-img-top" src="..." alt="Filler">
        <h2>Custom Individual Movements</h2>
        <ul>
          <li>
            Your weight is:  {{this.weight}} 
          </li>
          <li>
            Your time is:  {{this.time}} 
          </li>
          <li>
            Your date is:  {{this.Date}} 
          </li>
          <li>
            Your workout is is:  {{this.workout}} 
          </li>
          <li>
            Your Personal Best is:  {{this.pB}} 
          </li>
        </ul>
    </div>
  </div>
</div>