<h1>Sign up</h1>
<div>
    <label>Username:
        <input [(ngModel)]="Profile.username" placeholer = "username">
    </label>
</div>

<div>
  <label>Password:
      <input [(ngModel)]="Profile.password" placeholer = "passwd">
  </label>
</div>

<div>
  <label>First Name:
  <input [(ngModel)]="Profile.fname" placeholer = "firstname">
  </label>
</div>


<div>
  <label>Last Name:
      <input [(ngModel)]="Profile.lname" placeholer = "lastname">
  </label>
</div>

<div>
  <label>Email:
      <input [(ngModel)]="Profile.email" placeholer = "email">
  </label>
</div>

<div>
  <label>Age:
      <input [(ngModel)]="Profile.age" placeholer = "age">
  </label>
</div>