<div class="containter">
  <form #wodAdminForm="ngForm">
      <div class="form-group">
          <label>Date:</label>
          <input id="id" name="id"
            placeholder=""
            class="form-control"
            [(ngModel)]="Wod.id"/>
        </div>
    <div class="form-group">
      <label>Date:</label>
      <input id="day" name="day"
        placeholder="Date of Workout"
        class="form-control"
        [(ngModel)]="Wod.WOD.day"/>
    </div>
    <div class="form-group">
      <label>Type:</label>
      <select id="type" name="type" class="form-control" [(ngModel)]="Wod.WOD.type">
        <option>-- Please Select a Type --</option>
        <option *ngFor="let type of Types" value={{type.name}}>
          {{type.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Workout Name:</label>
      <input id="entryName" name="entryName" placeholder="Workout Name" class="form-control"
      [(ngModel)]="Wod.WODEntry[0].name"/>
    </div>
    <div class="form-group">
      <label>Order:</label>
      <input id="order" name="order" placeholder="Order A, B, C ..." class="form-control"
      [(ngModel)]="Wod.WODEntry[0].Order"/>
    </div>
    <div class="form-group">
      <label>Notes:</label>
      <input id="Notes" name="Notes" placeholder="Notes about this Workout" class="form-control"
      [(ngModel)]="Wod.WODEntry[0].Notes"/>
    </div>
    <div class="form-group">
      <label>Item Name:</label>
      <input id="itemName" name="itemName" placeholder="Item Name" class="form-control"
      [(ngModel)]="Wod.WODEntry[0].items[0].Notes"/>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
{{diagnostic}}
<app-wod [WorkingWod]="Wod"></app-wod>
