<div class="container navbar-expand-sm navbar nav-text text-center">
    <div class="row">
      <div class="col-sm-12">
        <img src="../../assets/logo-100.jpg" style="height: 50px; width: 50px" />
        <p class="">Welcome to Undisputed Fitness</p>
        <p>Proud home of CrossFit Santa Fe,10th Planet Jiu Jitsu, and Caveman Coffee!</p>
        <img src="../../assets/CFSF.jpg" style="height: 50px; width: 50px" />
      </div>
    </div>
    <!-- <hr /> -->
    <div class="row">
      <div class="col-sm-12">
        <footer>
          <small>&copy; Jones-Ostling-Bowie 2018</small>
        </footer>
      </div>
    </div>
  </div>
