<footer class="page-footer nav-text">
  <div class="container footer-spacing">
    <div class="row">
      <div class="col-sm-1 footer-item">
        <img src="../../assets/logo-100.jpg" style="height: 50px; width: 50px" />
      </div>
      <div class="text-center col-sm-10 footer-item">
        <p class="text-center">Welcome to Undisputed Fitness</p>
        <p>Proud home of CrossFit Santa Fe,10th Planet Jiu Jitsu, and Caveman Coffee!</p>
      </div>
      <div class="col-sm-1 footer-item">
        <img src="../../assets/CFSF.jpg" style="height: 50px; width: 50px" />
      </div>
    </div>
    <!-- <hr /> -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <small>&copy; Jones-Ostling-Bowie 2018</small>
      </div>
    </div>
  </div>
</footer>
