<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Welcome To Undisputed</h2>
        <p>
          Undisputed is a growing family of athletes who are serious about their health, and fitness. Undisputed Fitness offers a variety
          of classes which include 10th Planet Jiu-Jitsu, Kickboxing, Self Defense, Strongman, & CrossFit. Undisputed belongs
          to its members. Our focus is to help our community reach their personal goals and strive for new ones. All ages,
          skill levels, and backgrounds are welcome.
        </p>
      </div>
    </div>
    <div class="row">
      <app-wod [showWods]=true></app-wod>
    </div>
  </div>
  <hr>
