<form #itemsForm="ngForm">

  <input type="text" placeholder="Name of Workout"
         required maxlength="25"
         [(ngModel)]="name" name="name"
         #pickedName="ngModel">
  <input type="text" placeholder="Add a note here"
         required [(ngModel)]="nNotes"
         name="nNotes" #Note="ngModel">
  <input type="text" placeholder="Whats your name"
         [(ngModel)]="name" name="name">
         <button class ="btn btn-outline-secondary" (click)="NotifyParent()">Add Movement</button>
</form>

