<!-- <div class="container">
  <div class="col-sm-12" *ngIf="WorkingWod">
    <div class="col-sm-5 text-center">
      <div class="text-uppercase font-weight-bold">
        <u>
          {{WorkingWod.WOD.type}} for {{WorkingWod.WOD.day | date:'MM/dd/yyyy'}}
          <br />
        </u>
      </div>
      <div *ngFor="let wodEntry of WorkingWod.WODEntry">
        <div *ngIf="wodEntry.id != 0">
          <div class="font-weight-bold">
            {{wodEntry.name}}
            <br />
          </div>
          <div>
            {{wodEntry.notes}}
            <br />
            <br />
          </div>
          <div *ngFor="let item of wodEntry.items">
            <div *ngIf="item.id != 0">
              {{item.notes}}
            </div>
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div *ngIf="WODS">
    <div *ngFor="let wods of WODS" class="row text-center">
      <div class="row-to-center">
          <div class="col-xs-10">
              <div class="text-uppercase font-weight-bold">
                <u>
                  {{wods.WOD.type.name}} for {{wods.WOD.day | date:'MM/dd/yyyy'}}
                  <br />
                </u>
              </div>
              <div *ngFor="let wodEntry of wods.WODEntry">
                <div class="font-weight-bold">
                  {{wodEntry.name}}
                  <br />
                </div>
                <div>
                  {{wodEntry.notes}}
                  <br />
                  <br />
                </div>
                <div *ngFor="let item of wodEntry.items">
                  {{item.notes}}
                </div>
                <br />
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

