<nav class="navbar navbar-expand-sm mr-auto">
  <a class="navbar-brand nav-text" href="http://undisputedfitness.com">
    <img src="https://hackbit.github.io/angularattack2018-gainsngfordays/undisputed/assets/logo-100.jpg" style="height: 50px; width: 50px" /> Undisputed Fitness
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link nav-text" routerLink="/welcome">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-text" routerLink="/movement">Movements</a>
      </li>
      <li class="nav-item">
          <a class="nav-link nav-text" routerLink="/wod/true">WOD</a>
        </li>
      <li class="nav-item">
          <a class="nav-link nav-text" routerLink="/wodAdmin">WOD Administration</a>
        </li>
    </ul>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link nav-text" routerLink="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text" routerLink="/login">Log In</a>
    </li>
  </ul>
  <a class="navbar-brand nav-text" href="http://undisputedfitness.com">
    <img src="https://hackbit.github.io/angularattack2018-gainsngfordays/undisputed/assets/CFSF.jpg" style="height: 50px; width: 50px" />
  </a>
</nav>
<hr>
