<router-outlet>
    <app-nav></app-nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Ready for a change in your life?</h2>
                <p>Turducken drumstick tongue, doner beef ball tip jowl alcatra t-bone filet mignon bresaola shankle salami shank. Capicola chicken pastrami, spare ribs pig leberkas tail. Pancetta t-bone short ribs pork belly shankle flank tongue leberkas pork chop bacon boudin picanha ball tip ground round. Chuck buffalo alcatra bresaola kielbasa. Burgdoggen corned beef shankle, brisket pork turducken jerky chuck frankfurter. Turducken brisket andouille bresaola boudin burgdoggen prosciutto tenderloin kielbasa. Jowl ground round kevin, sausage short loin hamburger picanha capicola.</p>
            </div>
        </div>
    </div>
    <hr>
    <app-imt></app-imt>
    <app-wod></app-wod>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <canvas id='myChart'></canvas>
        </div>
    </div>
    <hr>
    <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Ready for a change in your life?</h2>
                    <p>Turducken drumstick tongue, doner beef ball tip jowl alcatra t-bone filet mignon bresaola shankle salami shank. Capicola chicken pastrami, spare ribs pig leberkas tail. Pancetta t-bone short ribs pork belly shankle flank tongue leberkas pork chop bacon boudin picanha ball tip ground round. Chuck buffalo alcatra bresaola kielbasa. Burgdoggen corned beef shankle, brisket pork turducken jerky chuck frankfurter. Turducken brisket andouille bresaola boudin burgdoggen prosciutto tenderloin kielbasa. Jowl ground round kevin, sausage short loin hamburger picanha capicola.</p>
                </div>
            </div>
        </div>
        <hr>
        <footer>
             <small>&copy; Jones-Ostling 2058</small>
        </footer>
</router-outlet>
